*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:Arial, sans-serif;
    background:#ffffff;
}

/* HEADER */
header{
    background:#4B0082;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    position:fixed;
    width:100%;
    top:0;
    z-index:1000;
}

.logo{
    font-size:24px;
    font-weight:bold;
}

/* MENU */
nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    font-weight:bold;
}

nav a:hover{
    color:#E0AAFF;
}

/* HERO */
.hero{
    height:100vh;
    background:linear-gradient(135deg,#4B0082,#6A0DAD);
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero h1{
    font-size:60px;
    max-width:900px;
}

.hero p{
    font-size:22px;
    margin-top:20px;
}

/* BOTON */
.btn{
    margin-top:30px;
    background:#9D4EDD;
    color:white;
    padding:15px 30px;
    border-radius:8px;
    text-decoration:none;
    font-weight:bold;
}

.btn:hover{
    background:#E0AAFF;
    color:#4B0082;
}

/* SECCIONES */
.servicios,.proyectos,.cursos,.contacto{
    padding:100px 50px;
    text-align:center;
}

h2{
    color:#6A0DAD;
    margin-bottom:40px;
    font-size:40px;
}

/* CARDS */
.contenedor-cards{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    width:300px;
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 5px 20px rgba(0,0,0,0.10);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card h3{
    color:#6A0DAD;
    margin-bottom:15px;
}

/* CURSOS */
.cursos{
    background:#F7F0FF;
}

/* CONTACTO */
.contacto{
    background:#4B0082;
    color:white;
}

.contacto h2{
    color:white;
}

/* FOOTER */
footer{
    background:#2D0050;
    color:white;
    text-align:center;
    padding:20px;
}

/* RESPONSIVE */
@media(max-width:768px){
    header{
        flex-direction:column;
        gap:15px;
    }

    .hero h1{
        font-size:35px;
    }

    .hero p{
        font-size:18px;
    }
}